.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  --l: 95%;
  --c: 0.3;
  --h: 260;
  --black: oklch(0% 0 var(--h));
  --white: oklch(100% 0 var(--h));
  --base: oklch(var(--l) var(--c) var(--h));
  --text: color-mix(in oklch, var(--base), var(--black) 65%);
  --border: var(--text);
  --hover: color-mix(in oklch, var(--base), var(--black) 14%);
  --active: color-mix(in oklch, var(--base), var(--black) 28%);
  --disabled: color-mix(in oklch, var(--base), var(--black) 30%);

  border-radius: 5px;
  border: 2px solid var(--border);
  padding: 0.35rem 0.5rem;
  font-weight: bold;
  color: var(--text);
  background-color: var(--base);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
  }

  &:focus-visible {
    outline: 2px solid var(--active);
  }
  
  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
  }
}
.btn{
  margin-top: 4rem;
 margin-left: 45%;
}
